<div class="container">
  <div class="row">
    <div class="column column-60 column-offset-20 main-logo">
    	<h1>Disclaimer</h1>
    	<p1 style="text-align:center;">Acest site este creat in cadrul proiectului de an la APA. Toate caracterele si evenimentele continute sunt fictionale. Ele nu au nici un fel de conexiune cu viata reala. Orice asemanare cu o persoana vie sau moarta va constitui o pura coincidenta.</p1>
    </div>
   </div>
</div>